In [23]:
import pandas as pd
import numpy as np
df = pd.read_csv('loan.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## In this task we will find the probability that if a person applied for a loan what is the probability that his application is approved.

In [2]:
# Display values per class of 'Loan_Status'
print(df['Loan_Status'].value_counts())

# Total number of rows
total = df['Loan_Status'].value_counts().sum()

# Number of loan applications accepted
yes = df['Loan_Status'].value_counts().Y

# Number of loan applications rejected
no = df['Loan_Status'].value_counts().N

# Probability of loan getting accepted
p_of_A = yes/total

# Display probability
print(p_of_A)

Y    422
N    192
Name: Loan_Status, dtype: int64
0.6872964169381107

## If you take a closer look at the data Property_Area is classified into three categories viz. Urban, Semi-Urban and Rural. In this task let us try to find out the probability that a randomly selected house is from either an urban area or a semi-urban area.

In [5]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [21]:
# Total number of records
total = len(df)

# Probability of Urban houses
p_of_urban = len(df[df['Property_Area'] == 'Urban']) / total

# Probability of Semiurban houses
p_of_semiurban = len(df[df['Property_Area'] == 'Semiurban']) / total

# Probability of either Urban or Semiurban houses 
p_of_or = p_of_urban + p_of_semiurban

# Display probability
print(p_of_or)

0.7084690553745928

## In this task let us check whether the gender of an applicant affects the chances of getting a loan. We will calculate the conditional probability in this case. We will calculate the probability of laon being approved when we know that the applicant is male (and female).

In [48]:
# Convert to NumPy arrays
g = np.array(df.Gender)
l = np.array(df.Loan_Status)

# creating pivot table 
table = pd.crosstab(g,l)
print(table)

# Total male applicants
male = table.iloc[1,:].sum()

# Total female applicants
female = table.iloc[0,:].sum()

# Total male applicants whose loan applications were accepted
yes_male = table.iloc[1,1]

# Total female applicants whose loan applications were accepted
yes_female = table.iloc[0,1]

# Probability of loan approval when applicant is male
p_of_ymale = yes_male/male

# Probability of loan approval when applicant is female
p_of_yfemale = yes_female/female
print(p_of_ymale,'and' ,p_of_yfemale)

col_0     N    Y
row_0
Female   37   75
Male    150  339
0.6932515337423313 and 0.6696428571428571